nav {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
}

nav > div {
  width: fit-content;
}

h2 {
  text-align: center;
  padding: 15px 0;
}

#wrapper {
  margin: 0 auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset > ul > li {
  width: 80%;
  padding: 12px 20px;
  margin: 20px 30px;
  box-sizing: border-box;

}

label {
  padding-reight: 10px;
}

div {
  width: 80%;
}

input[type='submit'] {
  width: 120px;
  margin: 0 auto;
  height: 40px;
  border: none;
  border-radius: 12 px;
}

.booklist > li {
  width: 250px;
  height: 500px;
  padding: 12px 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.booklist > li > * {
  margin: 10px 0;
}

.details > li{
  height: 700px;
}

#detailsdescription{
  height: 500px;
}

.homeHead {
  margin: 0px auto 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeHead > button {
  margin-top: 30px;
}

body{
  background-color: hazel;
  padding: 10px;
  font-family: 'FranklinGothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: auto;
  width: 500px;
}